$primary   : #e8e8e8;
$secondary : #cae3b1;
$accent    : #b39a6b;
$dark      : #00582c;
// $dark      : #005934;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
